# Force dist/ inclusion, it is [git ignored](./.gitignore).
!dist/
# Other files to be excluded.
eslint.config.js
scripts/
src/
tests/
tsconfig.*
# Documentation and images, hosted on GitHub Pages.
docs/
